div.parent{
    display: flex;
    align-items: stretch;
    background-color: black;
    height: 100vh;
}
div.child{
    background-color: yellow;
    flex-basis:80% ;
}
div.sidebar{
background-color: crimson;
flex-basis: 20%;
}
@media (max-width:700px){
    div.sidebar{
        /* flex-basis: 0%; */
        animation: 5s expand linear infinite;
    }
    div.child{
        flex-basis: 100%;
    }
}
@keyframes expand {
    0%{
        flex-basis: 0%;
    }
    100%{
        flex-basis: 50%;
    }
}