div.parent{
    background-color: black;
color: #f1f1f1;
}

@media (max-width: 500px){
    /* div.parent{
    background-color: greenyellow !important; 
    color: pink;
    } */
}

@media (max-width: 700px){
     /* div.parent{
    background-color: yellow;
    color: blue;
    }  */
}
/* only 700 px one will work if you don't add impotant or add the one with smaller values beneath it cause in the confliction the one lower will have advantage or will dominate */
/* media queries change only the conflicting properties keeping the non-conflicting ones same  */

@media (max-width: 700px){
     div.parent{
    background-color: yellow;
    color: blue;
    } 
}
@media (max-width: 500px){
    div.parent{
    background-color: greenyellow !important; 
    color: pink;
    }
}